<h1>Employees</h1>

<form>
  <p><strong>Please enter something for searching.</strong></p>

  <p>
  <label>Name contains</label><br>
  <input type="text" name="name">
  </p>

  <button type="submit">Find</button>
</form>
<table>
  <thead>
    <tr>
      <th width="10%">ID</th>
      <th width="30%">Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
    <tr>
      <td><%=employee.id%></td>
      <td><a href="/employees/<%= employee.id %>"><%=employee.first_name%>&nbsp;<%=employee.last_name%></a></td>
      <td><%=employee.address%></td>
    </tr>
     <% end %>
  </tbody>
</table>