<header>
  <h1>Emploee View</h1> 
  <nav>
    <a href="/">Back</a>
    <a href="/employees/<%=@employee.id %>/edit">Edit</a>
  </nav>
</header>


<p>
  <label>Name</label><br>
  <b><%= @employee.first_name %> &nbsp; <%= @employee.last_name %></b>
</p>

<p>
  <label>Address</label><br>
  <b><%= @employee.address %></b>
</p>

<hr style="width: 100%" />

<h1>Contract List</h1>

<table>
  <thead>
    <tr>
      <th width="20%">Start Date</th>
      <th width="20%">End Date</th>
      <th>Legal</th>
    </tr>
  </thead>
  <tbody>
   <% @employee.contracts.each do |contract| %>
    <tr>
      <td><%=contract.start_date%></td>
      <td><%=contract.end_date%></td>
      <td><%=contract.legal%></td>
    </tr>
     <% end %>
  </tbody>
</table>